.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}
.AppHeader{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05);
}
.SideMenu{
    height: 100%;

}
.SideMenuVertical{
    width: 435px;
    height: 1582px;
    border-radius: 2px;
    color: #ffffff;
    background: linear-gradient(192.77deg, rgba(0, 240, 255, 0.8) -22.81%, rgba(83, 118, 255, 0.8) 28.04%, rgba(0, 12, 182, 0.8) 114.1%);
}
.PageContent{
    padding-left: 12px;
}

.profilepic{
    border-radius: 50%;
    border: 1px solid white;
    background-color: blue;
    width: 74.02816772460938px;
    height: 74.11764526367188px;
    top: 48px;
    left: 172px;
  }
  
  /* .profile-user{
    font-family: Kotori Rose;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
  
  } */
  
  .profile{
    margin-left: 8rem;
    margin-top: -2rem;
  }
  
  .tailor-profile {
    font-family: Kotori Rose;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    margin-left: -5rem;
    color: #ffffff;
  
  }
  
  .tailor-email {
    font-family: Karla;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: -5rem;
    color: #ffffff;
  }
  
  /* .iconii{
    gap: 2rem;
  } */
  
  .getmeasurement{
    font-family: Karla;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: -4rem;
    color: #ffffff;
  
  }
  
  .drop-down{
    /* position: relative; */
    margin: 1em 3.5em;
  }
  
  .pro {
    font-size: x-small;
    margin-left: 35rem;
  }
.profile-section{
    width: 100%;
}

.profile_title{
    margin-left: 35rem;
    font-family: Kotori Rose;
    font-size: 20px;
    font-weight: 400;
    line-height: 2px;
    letter-spacing: 0px;
    text-align: left;

}

.vector{
    margin-left: -7rem;
}

.profile-table{
    width: 100%;
}

.ref{
    margin-left: 3rem;
    width: 90%;
}
.application{
   border: 1px solid white;
   border-radius: 8px;
   size:10px;
   width: 250px;
   margin-left: 5rem;
   font-weight: 700;
   color: black;
}

.transsection{
    margin-left: 5rem;
    margin-top: 5rem;
    border: 1px solid white;
    border-radius: 5px;
    width: 85%;
    background-color: #ffffff;
}

.transrow{
    border-bottom: 1px solid #ddd;

}
.transheading{
  margin-left: 1.9rem;
  border-bottom: 1px solid #ddd;
}

.transdata,.transtype,.date,.amount,.paymentt,.status{
   
font-family: Karla;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
}

.transtype,.date,.amount,.paymentt,.status{
   margin-top: 100rem;
  }
  
.sectransrow{
    margin-top: 40rem;
}

.application-section{
  display: flex;
}

tr{
  margin-top: 5rem;
}

td{
  text-align: center;

}

.application-intro{
font-family: Kotori Rose;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
margin-top: 8rem;

}

.application-introii{
font-family: Karla;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: center;

}

.profile-data{
font-family: Karla;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
margin-top: 2.5rem;
margin-left: 1rem;
color: #5E5E5E;

}

.form-select{
  display: flex;
}

.bar{
  width: 150%;
  height: 46px;
  top: 182px;
  left: 619px;
  border-radius: 5px;
  display: flex;
  margin-left: 1.5rem;
  

}

.bars{
  width: 168%;
  height: 40px;
}

.application-item{
font-family: Karla;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: #5E5E5E;
margin-top: 15rem;
;

}

.application-item-grp{
  margin-left: 2.5rem;
}

.card{
  width: 830px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px #00000012;
  height: 85vh;


}

.cardii{
  width: 830px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px #00000012;
  height: 80vh;
  justify-content: center;

}
form{
  margin-top: 2rem;
}

.form-profilpic{
  margin-left: 1rem;
}

.btn{
font-family: Karla;
font-size: 14px;
font-style: italic;
font-weight: 800;
line-height: 18px;
letter-spacing: 0.5px;
text-align: left;
width: 152.99346923828125px;
height: 18px;
top: 17px;
left: 21.856201171875px;
margin-top: 1rem;
margin-left: 2.5rem;
height: 6vh;
background-color: #f065b4;
color: #ffffff;
border:1px solid white;
border-radius: 5px;
}

.btnii{
  font-family: Karla;
  font-size: 14px;
  font-style: italic;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
  width: 152.99346923828125px;
  height: 18px;
  top: 17px;
  left: 21.856201171875px;
  margin-top: 1rem;
  margin-left: 2.5rem;
  height: 6vh;
  background-color: #f065b4;
  color: #ffffff;
  border:1px solid white;
  border-radius: 5px;
  margin-left: 25rem;
  margin-top: 1.5rem;
  margin-bottom: 10rem;
  }

button{
font-family: Karla;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: center;
background-color:#d3f1db;
border:1px solid white;
color: #20A144;
}

/* .card-items{
  margin-top: 50rem;
} */

/* table {
  border-collapse: collapse;
  border-spacing: 0 15px;
  border-bottom: 1px solid gray;
}
th {
  background-color:#ffffff;
  color: white;
}
th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
tr.thirdtransrow{
  border-bottom: 1px solid #ff000d;
} */

.transheading{
  border:0px;
   outline:0px;
}

.vetted{
  margin-left: 20rem;
  margin-top: 6rem;
}

.vettedi{
  margin-left: 16rem;
  margin-top: 2rem;
  font-size: 12px;
}

.vettediii{
  margin-left: 26rem;
  margin-top: 2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .profile-section {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .transsection {
    display: block;
    padding: 10px; 
    width: 34%;
    overflow-x: hidden;
  }
}


@media (max-width: 700px) {
  .SideMenuVertical {
    display: none;
  }
}

@media (max-width: 768px) {
  .application-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .form-selec {
    width: 55%;
  }

  .application-item-grp {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .cardii {
    padding: 10px;
    margin-left: -1.4rem;
  }

  .vetted {
    max-width: 50%;
    margin: 0 auto;
    margin-left: 5rem;
  }

  .vettediii {
    max-width: 50%;
    margin-left: 8rem;
  }

  .vettedi {
    max-width: 50%;
    margin-left: 0.1rem;
  }

  .btnii {
    margin-top: 20px;
    margin-left: 7rem;
  }
}

@media (max-width: 768px) {
  .card{
    margin-top: -6rem;
    margin-left: -2rem;
  }
  .card-items {
    flex-direction: column;
    margin-left: -27.5rem;
    
  }

  .application-introii{
    display: none;
  }

  .application-section {
    margin-top: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-selec{
    display: none;
  }

  .application-item-grp{
    margin-left: 1rem;
    width: 55%;
  }

}



